<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-do list</title>
  <link rel="stylesheet" href="Css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1> <%= kindofday %> </h1>
  </div>

  <div class="box">

    <% for (i=0; i<newlistitems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= newlistitems[i] %></p>
    </div>

    <%  } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newitem" placeholder="Add an item." autocomplete="off">
      <button type="submit">+</button>
    </form>

  </div>

</body>

</html>
